.container {
  display: flex;
  justify-content: center;

  .body {
    flex-direction: column;
    width: 80%;

    .title {
      display: flex;
      justify-content: center;
      padding-bottom: 10px;
      border-bottom: 5px solid black;
    }

    .list {
      padding: 15px 50px;
    }
  }
}
