<div class="toolbar" role="banner">
    <img width="40"
        src="https://s3-sa-east-1.amazonaws.com/prod-jobsite-files.kenoby.com/uploads/neoway-1653431152-logo-250px2jpg.jpg" />
    <span>Welcome to NewsWay - the new way to get news</span>
</div>
<div class="container">
    <app-filter></app-filter>
    <app-list
        *ngIf="(loading$ | async) === false && ((articles$ | async) || []).length > 0"
        [list]="(articles$ | async) || []">
    </app-list>

    <div class="spinner" *ngIf="(loading$ | async)">
        <mat-spinner></mat-spinner>
    </div>

    <div class="empty-list" *ngIf="(loading$ | async) === false && ((articles$ | async) || []).length === 0">
        <p>Essa Pesquisa não houve retorno, por favor tente outro termo ou mude os filtros</p>
    </div>
</div>
