<div class="dialog">
    <div class="header">
        <h1 class="title">{{ article.title }}</h1>
        <img [src]="article.urlToImage">

    </div>
    <div class="information">
        <p class="authot">Author: {{ article.author }}</p>
        <p class="publish">Published in {{ article.publishedAt | date }}</p>
        <p>Available in <span class="available" (click)="outside()">{{ article.url }}</span></p>
    </div>

    <div class="content">
        {{ article.content }}
        <p class="warn" (click)="outside()">To continue reading the article, you can click on the link, or here, and you will be directed to the page of the article.</p>
    </div>
</div>
