@import '../../../assets/colors.scss';

.dialog
{
    padding: 15px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;

    .header
    {
        display: flex;
        flex-direction: column;
        align-items: center;


        img
        {
            border-radius: 15px;
            width: 100%;
        }

        .title
        {
            font-size: 30px;
            font-weight: 700;
        }
    }

    .information
    {
        justify-items: start;
        font-size: 10px;

        p
        {
            padding: 2px;
            margin: 2px;
        }

        .available
        {
            color: $blue;
            cursor: pointer;
        }

    }

    .add-favorite
    {
        display: flex;
        align-items: center;
        justify-content: end;
        cursor: pointer;

        .favorite
        {
            width: 15px;
            height: 15px;
            margin-left: 5px;
        }
    }

    .content
    {
        margin-top: 30px;
        font-size: 14px;
        text-indent: 5%;

        .warn
        {
            margin-top: 2%;
            color: $secondary;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
