.card
{
  display: flex;
  margin: 15px 0;
  background-color: #e6e6e6;
  border-radius: 10px;
  padding: 15px;

  img
  {
    border-radius: 15px;
  }

  .info
  {
    margin: 0 10px;

    p
    {
      padding: 2px;
      margin: 2px;
    }

    &-title
    {
      font-weight: 700;
      text-transform: capitalize;
      font-size: 18px;
    }

    &-description
    {
      font-size: 12px;
    }

    &-author
    {
      font-weight: 700;
      font-size: 14px;
    }

    &-publish, &-available
    {
      font-size: 10px;
    }
  }
}


.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #e6e6e6 radial-gradient(circle, transparent 1%, #cfcfcf 1%) center/15000%;
}
.ripple:active {
  background-color: #ffffff;
  background-size: 100%;
  transition: background 0s;
}
