@import '../../assets/colors.scss';

.container {
    display: flex;
    padding-top: 15px;
    margin-top: 5%;

    .empty-list {
        margin: 15% 20%;
    }

    .spinner
    {
        margin-left: 30%;
        margin-top: 10%;
    }

    ::ng-deep.mat-progress-spinner circle,
    .mat-spinner circle {
        stroke: $secondary;
    }
}
