<div class="container">
    <app-filter></app-filter>
    <app-list
        *ngIf="(loading$ | async) === false && ((articles$ | async) || []).length > 0"
        [list]="(articles$ | async) || []">
    </app-list>

    <div class="spinner" *ngIf="(loading$ | async)">
        <mat-spinner></mat-spinner>
    </div>

    <div class="empty-list" *ngIf="(loading$ | async) === false && ((articles$ | async) || []).length === 0">
        <p>This search was not returned, please try another term or change the filters</p>
    </div>
</div>
